.backframe{
    width: 1909px;
    height: 1110px;
    background-color: #f0f0f0;
}

.frame{
    position: absolute;
    width: 500px;
    height: 1012px;
    top: 55px;
    left: 693px;
    background-color: #ffffff;
}

 
.frame .top-background {
   position: absolute;
   width: 500px;
   height: 98px;
   top: 0;
   left: 0;
   background-color: #4b89dc;
}
.frame .background-1 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 170px;
    left: 186px;
    background-color: #ff7272;
    border-radius: 22.5px;
 }
 .frame .background-2 {
     position: absolute;
     width: 45px;
     height: 45px;
     top: 170px;
     left: 269px;
     background-color: #aaaaaa;
     border-radius: 22.5px;
  }
  .frame .background-3 {
     position: absolute;
     width: 45px;
     height: 45px;
     top: 170px;
     left: 352px;
     background-color: #b0d840;
     border-radius: 22.5px;
  }
    
  .frame .background-4 {
     position: absolute;
     width: 45px;
     height: 45px;
     top: 170px;
     left: 435px;
     background-color: #fbc400;
     border-radius: 22.5px;
  }
    
 .frame .background-5 {
     position: absolute;
     width: 45px;
     height: 45px;
     top: 170px;
     left: 20px;
     background-color: #fbc400;
     border-radius: 22.5px;
  }
    
 
  .frame .background-6 {
     position: absolute;
     width: 45px;
     height: 45px;
     top: 170px;
     left: 103px;
     background-color: #69c8f2;
     border-radius: 22.5px;
  }
  .frame .background-7 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 95px;
    left: 15px;
    background-color: #fbc400;
    border-radius: 22.5px;
 }
  
 .frame .background-8 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 95px;
    left: 92px;
    background-color: #69c8f2;
    border-radius: 22.5px;
 }
  .frame .background-9 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 95px;
    left: 169px;
    background-color: #ff7272;
    border-radius: 22.5px;
 }
   
 .frame .background-10 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 95px;
    left: 246px;
    background-color: #aaaaaa;
    border-radius: 22.5px;
 }
  
 .frame .background-11 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 95px;
    left: 323px;
    background-color: #b0d840;
    border-radius: 22.5px;
 }
   
 .frame .background-12 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 95px;
    left: 400px;
    background-color: #fbc400;
    border-radius: 22.5px;
 }
  .frame .background-13 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 201px;
    left: 15px;
    background-color: #fbc400;
    border-radius: 22.5px;
 }
  
 .frame .background-14 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 201px;
    left: 92px;
    background-color: #69c8f2;
    border-radius: 22.5px;
 }
   
 .frame .background-15 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 201px;
    left: 169px;
    background-color: #ff7272;
    border-radius: 22.5px;
 }
   
 .frame .background-16 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 201px;
    left: 246px;
    background-color: #aaaaaa;
    border-radius: 22.5px;
 }
   
 .frame .background-17 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 201px;
    left: 323px;
    background-color: #b0d840;
    border-radius: 22.5px;
 }
   
 .frame .background-18 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 201px;
    left: 400px;
    background-color: #fbc400;
    border-radius: 22.5px;
 }
   
 .frame .background-19 {
    position: absolute;
    width: 430px;
    height: 41px;
    top: 266px;
    left: 15px;
    background-color: #e8f4fd;
    border-radius: 5px;
 }
  .frame .background-20 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 330px;
    left: 15px;
    background-color: #fbc400;
    border-radius: 22.5px;
 }
   
 .frame .background-21 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 330px;
    left: 92px;
    background-color: #69c8f2;
    border-radius: 22.5px;
 }
   
 .frame .background-22 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 330px;
    left: 169px;
    background-color: #ff7272;
    border-radius: 22.5px;
 }
   
 .frame .background-23 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 330px;
    left: 246px;
    background-color: #aaaaaa;
    border-radius: 22.5px;
 }
   
 .frame .background-24 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 330px;
    left: 323px;
    background-color: #b0d840;
    border-radius: 22.5px;
 }
 
   
 .frame .background-25 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 330px;
    left: 400px;
    background-color: #fbc400;
    border-radius: 22.5px;
 }

 .frame .background-26 {
    position: absolute;
    width: 430px;
    height: 41px;
    top: 395px;
    left: 15px;
    background-color: #e8f4fd;
    border-radius: 5px;
 }
  .frame .button {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    width: 460px;
    height: 40px;
    top: 230px;
    left: 20px;
    background-color: #4b89dc;
    border-radius: 5px;
 }
 .frame .button-2 {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    width: 460px;
    height: 40px;
    top: 148px;
    left: 20;
    background-color: #4b89dc;
    border-radius: 5px;
 }
  .frame .bottom-background {
     position: absolute;
     width: 460px;
     height: 461px;
     top: 520px;
     left: 20px;
     background-color: #f5f5f5;
     border-radius: 5px;
  }
  .frame .mid-background {
    position: absolute;
    width: 460px;
    height: 199px;
    top: 300px;
    left: 20px;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #f5f5f5;
 }
  .frame .text-1 {
    position: absolute;
    width: 460px;
    height: 40px;
    top: 7px;
    left: 0px;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
 }
 .frame .text-2 {
    position: absolute;
    width: 500px;
    height: 98px;
    top: 20px;
    left: 0px;
    font-weight: 700;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    text-align: center;
    justify-content: center;
    line-height: normal;
    white-space: nowrap;
 }
  .frame .text-3 {
    position: absolute;
    width: 500px;
    height: 98px;
    top: 50px;
    left: 0px;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    text-align: center;
    justify-content: center;
    line-height: normal;
    white-space: nowrap;
 }
  
 

 .frame .text-4 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 8px;
    left: 0px;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    text-align: center;
    justify-content: center;
    line-height: normal;
    white-space: nowrap;
 }
 .frame .text-5 {
    position: absolute;
    width: 430px;
    height: 41px;
    top: 8px;
    left: 0px;
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    text-align: center;
    justify-content: center;
    line-height: normal;
    white-space: nowrap;
 }
.frame .text-6 {
    width: 118px;
    top: 53px;
    left: 15px;
    position: absolute;
    height: 20px;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
 }
 .frame .text-7 {
    width: 118px;
    top: 155px;
    left: 15px;
    position: absolute;
    height: 20px;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
 } 
 
 .frame .input {
    position: absolute;
    width: 380px;
    height: 37px;
    top: 60px;
    left: 80px;
    background-color: #ffffff;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid;
    border-color: #dddddd;
 }
.frame .heading {
    width: 103px;
    height: 27px;
    top: 120px;
    left: 0px;
   font-weight: 700;
   font-size: 18px;
   position: absolute;
   color: #000000;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
   white-space: nowrap;
}
.frame .heading-2 {
    width: 113px;
    top: 22px;
    left: 0;
    position: absolute;
    height: 20px;
    font-weight: 700;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
 }
 .frame .heading-3 {
    width: 118px;
    top: 16px;
    left: 15px;
    position: absolute;
    height: 20px;
    font-weight: 700;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
 }
 .frame .heding-4 {
    position: absolute;
    width: 103px;
    height: 27px;
    top: 20px;
    left: 340px;
    font-weight: 700;
    color: #ffffff;
    font-size: 24px;
    
 }

 .frame .label {
    position: absolute;
    width: 73px;
    height: 17px;
    top: 68px;
    left: 0;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
 }
 
.frame .p {
   width: 234px;
   height: 17px;
   top: 107px;
   left: 0;
   font-weight: 400;
   color: #000000;
   font-size: 16px;
   white-space: nowrap;
   position: absolute;
   letter-spacing: 0;
   line-height: normal;
}
